In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.Builder().appName("withColumn").getOrCreate()

24/06/16 01:34:31 WARN Utils: Your hostname, codebase resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
24/06/16 01:34:31 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/16 01:34:31 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [10]:
from pyspark.sql.functions import col, lit

In [11]:
data = [
    (1, 'Rohit', '1000'),
    (2, 'Ajay','2000')
]

columns = ['id', 'name', 'salary']

df = spark.createDataFrame(data = data, schema = columns)

df2 = df.withColumn(colName='salary', col= df.salary.cast("Integer"))

# or -- > Another Way using col function

df2 = df.withColumn(colName='salary', col= col('salary').cast("Integer"))

df3 = df2.withColumn('salary', col('salary')*2)

df4 = df3.withColumn('country', lit('India'))
df4.show()
df4.printSchema()

+---+-----+------+-------+
| id| name|salary|country|
+---+-----+------+-------+
|  1|Rohit|  2000|  India|
|  2| Ajay|  4000|  India|
+---+-----+------+-------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- country: string (nullable = false)

In [12]:
spark.stop()