In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.Builder().appName("withColumnRenamed()").getOrCreate()

24/06/16 01:54:47 WARN Utils: Your hostname, codebase resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
24/06/16 01:54:47 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/16 01:54:48 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
data = [
    (1, 'Rohit', '1000'),
    (2, 'Ajay','2000')
]

columns = ['id', 'name', 'salary']

df = spark.createDataFrame(data = data, schema = columns)

In [3]:
df.show()

+---+-----+------+
| id| name|salary|
+---+-----+------+
|  1|Rohit|  1000|
|  2| Ajay|  2000|
+---+-----+------+

In [10]:
from pyspark.sql.functions import col, lit

In [32]:
df2 = df.withColumnRenamed('salary', 'salary_amt')
df2.collect()

[Row(id=1, name='Rohit', salary_amt='1000'),
 Row(id=2, name='Ajay', salary_amt='2000')]

In [33]:
spark.stop()