In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.Builder().appName("withColumnRenamed()").getOrCreate()

24/06/16 02:24:05 WARN Utils: Your hostname, codebase resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
24/06/16 02:24:05 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/16 02:24:05 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [25]:
from pyspark.sql.types import *
from pyspark.sql.functions import col, lit, array

In [18]:
data = [('abc',[1,2]), ('def', [4,5,6]), ('ghi', [243,2312,345,35,0])]

In [19]:
schema = StructType(
    [
        StructField(name = 'id', dataType = StringType()), 
        StructField(name = 'numbers', dataType = ArrayType(IntegerType()))
    ]
)

In [20]:
df = spark.createDataFrame(data = data, schema=schema)
df.show(truncate = False, vertical = True)
df.printSchema()

-RECORD 0--------------------------
 id      | abc
 numbers | [1, 2]
-RECORD 1--------------------------
 id      | def
 numbers | [4, 5, 6]
-RECORD 2--------------------------
 id      | ghi
 numbers | [243, 2312, 345, 35, 0]

root
 |-- id: string (nullable = true)
 |-- numbers: array (nullable = true)
 |    |-- element: integer (containsNull = true)

In [21]:
df.withColumn('ele', col('numbers')[0]).show()

+---+--------------------+---+
| id|             numbers|ele|
+---+--------------------+---+
|abc|              [1, 2]|  1|
|def|           [4, 5, 6]|  4|
|ghi|[243, 2312, 345, ...|243|
+---+--------------------+---+

In [23]:
data = [
    (1, 'Rohit', '1000'),
    (2, 'Ajay','2000')
]

columns = ['id', 'name', 'salary']

df2 = spark.createDataFrame(data = data, schema = columns)
df2.show()

+---+-----+------+
| id| name|salary|
+---+-----+------+
|  1|Rohit|  1000|
|  2| Ajay|  2000|
+---+-----+------+

In [26]:
df3 = df2.withColumn('new_column', array(col('id'), col('salary')))
df3.show()

+---+-----+------+----------+
| id| name|salary|new_column|
+---+-----+------+----------+
|  1|Rohit|  1000| [1, 1000]|
|  2| Ajay|  2000| [2, 2000]|
+---+-----+------+----------+

In [29]:
df3 = df2.withColumn('new_column', array('id', 'salary'))
df3.show()
df3.printSchema()

+---+-----+------+----------+
| id| name|salary|new_column|
+---+-----+------+----------+
|  1|Rohit|  1000| [1, 1000]|
|  2| Ajay|  2000| [2, 2000]|
+---+-----+------+----------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- new_column: array (nullable = false)
 |    |-- element: string (containsNull = true)

In [30]:
spark.stop()