In [1]:
from pyspark.sql import SparkSession 

spark = SparkSession.Builder().appName('MapType()').getOrCreate()

24/07/12 15:49:32 WARN Utils: Your hostname, codebase resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
24/07/12 15:49:32 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/07/12 15:49:33 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/07/12 15:49:34 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [4]:
from pyspark.sql.types import StructType, StringType,StructField , MapType, IntegerType
from pyspark.sql.functions import col, lit

data = [
    ('rohit', {'Skill' : 'SQL'}),
    ('ajay', {'Skill' : 'Python', 'Rating' : 5}),
    ('dhananjay', {'Skill' : 'Azure', 'Rating' : 5}),
]

# schema = StructType(
#     [
#         StructField('name', StringType()),
#         StructField('Skill-Rating', MapType(StringType(), IntegerType()))
#     ]
# )

# Or

# If we don't enforce the schema as Map Type it will automatically take it as MapType() as the data is given in
# python dictionary (Dict) 

schema = ['name', 'skills-rating']

df = spark.createDataFrame(data, schema)
df.show(truncate= False)
df.printSchema()

+---------+------------------------------+
|name     |skills-rating                 |
+---------+------------------------------+
|rohit    |{Skill -> SQL}                |
|ajay     |{Skill -> Python, Rating -> 5}|
|dhananjay|{Skill -> Azure, Rating -> 5} |
+---------+------------------------------+

root
 |-- name: string (nullable = true)
 |-- skills-rating: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)

In [5]:
df = df.withColumn('skill', df['skills-rating']['Skill'])
df = df.withColumn('rating', df['skills-rating'].getItem('Rating'))
df.show(truncate=False)
df.printSchema()

+---------+------------------------------+------+------+
|name     |skills-rating                 |skill |rating|
+---------+------------------------------+------+------+
|rohit    |{Skill -> SQL}                |SQL   |NULL  |
|ajay     |{Skill -> Python, Rating -> 5}|Python|5     |
|dhananjay|{Skill -> Azure, Rating -> 5} |Azure |5     |
+---------+------------------------------+------+------+

root
 |-- name: string (nullable = true)
 |-- skills-rating: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)
 |-- skill: string (nullable = true)
 |-- rating: string (nullable = true)

In [ ]:
df

In [36]:
spark.stop()