In [1]:
from pyspark.sql import SparkSession 

spark = SparkSession.Builder().appName('Column() Class').getOrCreate()

24/06/16 13:24:05 WARN Utils: Your hostname, codebase resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
24/06/16 13:24:05 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/16 13:24:06 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/06/16 13:24:08 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [37]:
from pyspark.sql.functions import col, lit, Column

col1 = lit('abcd')
print(type(col1))

<class 'pyspark.sql.column.Column'>

In [6]:
data = [
    ('Rohit', 27, 2000),
    ('Ajay', 23, 3000)
]

schema = ['name', 'age', 'salary']

df = spark.createDataFrame(data, schema)
df.show()

+-----+---+------+
| name|age|salary|
+-----+---+------+
|Rohit| 27|  2000|
| Ajay| 23|  3000|
+-----+---+------+

In [17]:
df = df.withColumn('newCol', lit(col("salary")/12))
df.show(truncate=False)
df.printSchema()

+-----+---+------+------------------+
|name |age|salary|newCol            |
+-----+---+------+------------------+
|Rohit|27 |2000  |166.66666666666666|
|Ajay |23 |3000  |250.0             |
+-----+---+------+------------------+

root
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)
 |-- salary: long (nullable = true)
 |-- newCol: double (nullable = true)

In [18]:
from pyspark.sql.types import *

In [31]:
data = [
    ('Rohit', 27, 2000, ('black', 'black')),
    ('Ajay', 23, 3000, ('brown', 'black'))
]

propType = StructType(
    [
        StructField('hair', StringType()),
        StructField('eye', StringType()),
    ]
)

schema = StructType(
    [
        StructField('name', StringType()),
        StructField('age', IntegerType()),
        StructField('salary', IntegerType()),
        StructField('props', propType)
    ]
)

df = spark.createDataFrame(data, schema)
df.show()
df.printSchema()

+-----+---+------+--------------+
| name|age|salary|         props|
+-----+---+------+--------------+
|Rohit| 27|  2000|{black, black}|
| Ajay| 23|  3000|{brown, black}|
+-----+---+------+--------------+

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: integer (nullable = true)
 |-- props: struct (nullable = true)
 |    |-- hair: string (nullable = true)
 |    |-- eye: string (nullable = true)

In [33]:
df.select(df.props.eye).show()

+---------+
|props.eye|
+---------+
|    black|
|    black|
+---------+

In [34]:
df.select(df['props.eye']).show()

+-----+
|  eye|
+-----+
|black|
|black|
+-----+

In [39]:
df.select(col('props.eye')).show()

+-----+
|  eye|
+-----+
|black|
|black|
+-----+

In [40]:
spark.stop()