In [1]:
from pyspark.sql import SparkSession 
from pyspark.sql.functions import col, lit, when, desc, asc, cast, like
from pyspark.sql.types import *

spark = SparkSession.Builder().appName('select()').getOrCreate()

24/06/17 12:45:39 WARN Utils: Your hostname, codebase resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
24/06/17 12:45:39 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/17 12:45:40 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/06/17 12:45:42 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/06/17 12:45:42 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [2]:
data1 = [
    ('Ajay', 23, 3000),
    ('Rohit', 27, 2000),
    ('Hema', 26, 2000),
    ('Huedsad', 26, 1233),
]
schema = ['name', 'age', 'salary']

df1 = spark.createDataFrame(data1, schema)
df1.show()

+-------+---+------+
|   name|age|salary|
+-------+---+------+
|   Ajay| 23|  3000|
|  Rohit| 27|  2000|
|   Hema| 26|  2000|
|Huedsad| 26|  1233|
+-------+---+------+

In [3]:
df1.select(['name', 'age']).show()
df1.select('name', 'age').show()
df1.select(col('name'), col('age')).show()
df1.select(df1['name'], df1['age']).show()
df1.select("*").show()
df1.select([col for col in df1.columns]).show()
df1.select([col for col in df1.columns if col == 'name']).show()

+-------+---+
|   name|age|
+-------+---+
|   Ajay| 23|
|  Rohit| 27|
|   Hema| 26|
|Huedsad| 26|
+-------+---+

+-------+---+
|   name|age|
+-------+---+
|   Ajay| 23|
|  Rohit| 27|
|   Hema| 26|
|Huedsad| 26|
+-------+---+

+-------+---+
|   name|age|
+-------+---+
|   Ajay| 23|
|  Rohit| 27|
|   Hema| 26|
|Huedsad| 26|
+-------+---+

+-------+---+
|   name|age|
+-------+---+
|   Ajay| 23|
|  Rohit| 27|
|   Hema| 26|
|Huedsad| 26|
+-------+---+

+-------+---+------+
|   name|age|salary|
+-------+---+------+
|   Ajay| 23|  3000|
|  Rohit| 27|  2000|
|   Hema| 26|  2000|
|Huedsad| 26|  1233|
+-------+---+------+

+-------+---+------+
|   name|age|salary|
+-------+---+------+
|   Ajay| 23|  3000|
|  Rohit| 27|  2000|
|   Hema| 26|  2000|
|Huedsad| 26|  1233|
+-------+---+------+

+-------+
|   name|
+-------+
|   Ajay|
|  Rohit|
|   Hema|
|Huedsad|
+-------+

In [4]:
spark.stop()