In [13]:
from pyspark.sql import SparkSession 
from pyspark.sql.functions import col, lit, when, \
desc, asc, cast, like, count, min, max, median, percentile
from pyspark.sql.types import *

spark = SparkSession.Builder().appName('fill() , fillna() & smaple() functions in Pyspark')\
.config("spark.sql.crossJoin.enabled",True)\
.getOrCreate()

24/06/17 19:01:27 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [7]:
data = [
    (1,'Rohit', 27, None, 'Data'),
    (2,'Ajay', 23, 3000, 'Data'),
    (3,'Hema', None, 5000, 'HR'),
    (4,'Arti', 37, 5000, None),
]

schema = ['id', 'name', 'age', 'salary', 'dept']

df = spark.createDataFrame(data, schema)
df.show()

+---+-----+----+------+----+
| id| name| age|salary|dept|
+---+-----+----+------+----+
|  1|Rohit|  27|  NULL|Data|
|  2| Ajay|  23|  3000|Data|
|  3| Hema|NULL|  5000|  HR|
|  4| Arti|  37|  5000|NULL|
+---+-----+----+------+----+

In [11]:
df.na.fill(0).show()
df.na.fill(0, ['age', 'salary']).show()
df.na.fill(0, ['salary']).show()
df.fillna('Unknown', ['dept']).show()

+---+-----+---+------+----+
| id| name|age|salary|dept|
+---+-----+---+------+----+
|  1|Rohit| 27|     0|Data|
|  2| Ajay| 23|  3000|Data|
|  3| Hema|  0|  5000|  HR|
|  4| Arti| 37|  5000|NULL|
+---+-----+---+------+----+

+---+-----+---+------+----+
| id| name|age|salary|dept|
+---+-----+---+------+----+
|  1|Rohit| 27|     0|Data|
|  2| Ajay| 23|  3000|Data|
|  3| Hema|  0|  5000|  HR|
|  4| Arti| 37|  5000|NULL|
+---+-----+---+------+----+

+---+-----+----+------+----+
| id| name| age|salary|dept|
+---+-----+----+------+----+
|  1|Rohit|  27|     0|Data|
|  2| Ajay|  23|  3000|Data|
|  3| Hema|NULL|  5000|  HR|
|  4| Arti|  37|  5000|NULL|
+---+-----+----+------+----+

+---+-----+----+------+-------+
| id| name| age|salary|   dept|
+---+-----+----+------+-------+
|  1|Rohit|  27|  NULL|   Data|
|  2| Ajay|  23|  3000|   Data|
|  3| Hema|NULL|  5000|     HR|
|  4| Arti|  37|  5000|Unknown|
+---+-----+----+------+-------+

In [21]:
df = spark.range(1, 100)
df = spark.range(start = 1, end = 100)
df.show(5)

+---+
| id|
+---+
|  1|
|  2|
|  3|
|  4|
|  5|
+---+
only showing top 5 rows

#### sample() function in PySpark

In [16]:
df1 = df.sample(fraction=0.1, seed=123)
df2 = df.sample(fraction=0.1, seed=123)

df1.show()
df2.show()

+---+
| id|
+---+
| 26|
| 29|
| 33|
| 58|
| 70|
| 91|
| 95|
| 98|
+---+

+---+
| id|
+---+
| 26|
| 29|
| 33|
| 58|
| 70|
| 91|
| 95|
| 98|
+---+

In [18]:
df1.toPandas() == df2.toPandas()

     id
0  True
1  True
2  True
3  True
4  True
5  True
6  True
7  True

In [22]:
spark.stop()