In [9]:
from pyspark.sql.types import *
from pyspark.sql import SparkSession
from pyspark.sql.functions import min, max, upper, trim

spark = SparkSession.Builder().appName('transform() function on top of dataFrame & for array type--> for Custom Transformation').getOrCreate()

24/06/17 19:35:14 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [3]:
data = [
    (1, "Rohit", 2000),
    (2, "Ajay", 3000),
]

schema = ['id', 'name', 'salary']

df = spark.createDataFrame(data, schema)
df.show()

+---+-----+------+
| id| name|salary|
+---+-----+------+
|  1|Rohit|  2000|
|  2| Ajay|  3000|
+---+-----+------+

In [4]:
def convertToUpper(df):
    return df.withColumn('name', upper(df.name))

def doubleTheSalary(df):
    return df.withColumn('salary', df.salary * 2)

In [6]:
df1 = df.transform(convertToUpper)\
        .transform(doubleTheSalary)
df1.show()

+---+-----+------+
| id| name|salary|
+---+-----+------+
|  1|ROHIT|  4000|
|  2| AJAY|  6000|
+---+-----+------+

In [10]:
from pyspark.sql.functions import upper, transform

In [12]:
data = [
    (1,'Rohit', 2000, ['pyspark', 'Web Dev','DE']),
    (2,'Ajay', 3000, ['pyspark', 'Analyst', 'LLMs']),
    (3,'Dhananjay', 5000, ['pyspark', 'Azure']),
]
schema = ['id', 'name', 'salary', 'skills']

df = spark.createDataFrame(data, schema)
df.show(truncate=False)

+---+---------+------+------------------------+
|id |name     |salary|skills                  |
+---+---------+------+------------------------+
|1  |Rohit    |2000  |[pyspark, Web Dev, DE]  |
|2  |Ajay     |3000  |[pyspark, Analyst, LLMs]|
|3  |Dhananjay|5000  |[pyspark, Azure]        |
+---+---------+------+------------------------+

In [14]:
df.select('id','name','salary', transform('skills', lambda x : upper(x)).alias('skills')).show(truncate=False)

+---+---------+------+------------------------+
|id |name     |salary|skills                  |
+---+---------+------+------------------------+
|1  |Rohit    |2000  |[PYSPARK, WEB DEV, DE]  |
|2  |Ajay     |3000  |[PYSPARK, ANALYST, LLMS]|
|3  |Dhananjay|5000  |[PYSPARK, AZURE]        |
+---+---------+------+------------------------+

In [15]:
def convertToUpper1(x):
    return upper(x)

df.select('*', transform('skills', convertToUpper1).alias('Skills')).show(truncate=False)

+---+---------+------+------------------------+------------------------+
|id |name     |salary|skills                  |Skills                  |
+---+---------+------+------------------------+------------------------+
|1  |Rohit    |2000  |[pyspark, Web Dev, DE]  |[PYSPARK, WEB DEV, DE]  |
|2  |Ajay     |3000  |[pyspark, Analyst, LLMs]|[PYSPARK, ANALYST, LLMS]|
|3  |Dhananjay|5000  |[pyspark, Azure]        |[PYSPARK, AZURE]        |
+---+---------+------+------------------------+------------------------+

In [47]:
spark.stop()