In [34]:
from pyspark.sql.types import *
from pyspark.sql import SparkSession
from pyspark.sql.functions import min, max, upper, trim

spark = SparkSession.Builder().appName('Views').getOrCreate()

In [35]:
data = [
    (1, "Rohit", 2000),
    (2, "Ajay", 3000),
]

schema = ['id', 'name', 'salary']

df = spark.createDataFrame(data, schema)
df.show()

+---+-----+------+
| id| name|salary|
+---+-----+------+
|  1|Rohit|  2000|
|  2| Ajay|  3000|
+---+-----+------+

#### createOrReplaceTempView() --> Temp View --> Session Scoped --> Can be accessed in Same Scope

In [36]:
df.createOrReplaceTempView('employees')

In [37]:
spark.sql("SELECT * FROM employees").show()

+---+-----+------+
| id| name|salary|
+---+-----+------+
|  1|Rohit|  2000|
|  2| Ajay|  3000|
+---+-----+------+

#### createOrReplaceGlobalTempView() --> Temp View --> Not Sesion Scoped --> Can be access accross the session within Spark Application

In [51]:
df.createOrReplaceGlobalTempView('employees')
df.select('id').createOrReplaceGlobalTempView('employeesId')
df.createOrReplaceGlobalTempView('employees2')

In [46]:
spark.sql('SELECT * FROM global_temp.employees').show()

+---+-----+------+
| id| name|salary|
+---+-----+------+
|  1|Rohit|  2000|
|  2| Ajay|  3000|
+---+-----+------+

In [48]:
spark.catalog.listTables(spark.catalog.currentDatabase())

[Table(name='employees', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]

In [50]:
spark.catalog.currentDatabase()

'default'

In [62]:
spark.catalog.listTables('global_temp')

[Table(name='employees2', catalog=None, namespace=['global_temp'], description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='employeesId', catalog=None, namespace=['global_temp'], description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='employees', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]

In [61]:
spark.catalog.dropGlobalTempView('employees1' )

True

In [63]:
spark.catalog.listTables()

[Table(name='employees', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]

In [64]:
spark.stop()